In [58]:
import matplotlib
matplotlib.use('Agg')

import matplotlib.pyplot as plt
import pandas as pd
import pydicom
import os

dicom_dir = os.path.join("/Volumes", "Cem's HD", "Ecem Tez Tomografi Hastaları")
patient_name2id = pd.read_csv("patient_to_id.csv")
info = pd.read_csv("patient_info.csv")

In [59]:
patient_target = info[info["yeni_koordinat"] != "Sil"]

In [60]:
info[info["yeni_koordinat"] == "Sil"]

,patient_id,age,gender,radiology,15_root_num,25_root_num,15_exact_img,25_exact_img,15_crop_coordinate,25_crop_coordinate,yeni_koordinat
149,patient150,21,female,False,2.0,2.0,NaN,NaN,NaN,NaN,Sil
167,patient168,30,male,False,1.0,1.0,NaN,NaN,NaN,NaN,Sil
172,patient173,44,male,True,1.0,1.0,NaN,NaN,NaN,NaN,Sil
227,patient228,22,female,False,1.0,1.0,NaN,NaN,NaN,NaN,Sil
257,patient258,28,male,False,1.0,1.0,NaN,NaN,NaN,NaN,Sil
341,patient342,30,male,False,1.0,1.0,NaN,NaN,NaN,NaN,Sil
343,patient344,20,male,True,2.0,1.0,NaN,NaN,NaN,NaN,Sil
395,patient396,40,female,False,1.0,1.0,NaN,NaN,NaN,NaN,Sil

In [61]:
patient_target

,patient_id,age,gender,radiology,15_root_num,25_root_num,15_exact_img,25_exact_img,15_crop_coordinate,25_crop_coordinate,yeni_koordinat
0,patient001,53,male,False,1.0,1.0,293-324,277-314,100-140,100-240,NaN
1,patient002,34,male,False,2.0,2.0,355-396,341-385,80-140,80-230,NaN
2,patient003,30,male,False,1.0,1.0,353-409,356-409,55-140,55-230,NaN
3,patient004,19,male,False,2.0,2.0,513-562,506-551,100-140,100-240,NaN
4,patient005,37,male,False,1.0,1.0,281-315,269-315,55-140,60-230,NaN
...,...,...,...,...,...,...,...,...,...,...,...
409,patient410,35,female,False,1.0,1.0,354-374,354-374,80-140,80-230,NaN
410,patient411,50,male,False,1.0,1.0,339-360,339-360,90-150,90-230,NaN
411,patient412,51,female,False,1.0,1.0,345-365,345-365,70-150,70-230,NaN
412,patient413,57,male,False,1.0,1.0,489-510,493-510,80-150,80-230,NaN
413,patient414,23,male,False,1.0,2.0,469-494,465-495,80-140,80-230,NaN

In [62]:
# for id in patient_target["patient_id"]:
#     patient = patient_name2id[patient_name2id["patient_id"]==id]["file_name"].iloc[0]
#     dicom_file = os.path.join(dicom_dir, f"{patient}.dcm")
#     curr_dicom = pydicom.dcmread(dicom_file)
    
#     coords = (
#         patient_target.loc[patient_target["patient_id"]==id, "15_exact_img"].str.split("-") +
#         patient_target.loc[patient_target["patient_id"]==id, "25_exact_img"].str.split("-")
#         ).tolist()[0]
#     midpoint = (int(max(coords)) + int(min(coords))) // 2
#     upper_limit, lower_limit = midpoint+50, midpoint-49
#     patient_dir = os.path.join("images", id)
#     fig_interval = 1
#     num = int((upper_limit - lower_limit +1) / fig_interval)

#     if not os.path.exists(patient_dir):
#         os.makedirs(patient_dir)
#     print(patient_dir, flush=True)

#     for i in range(num):
#         plt.figure()
#         plt.axis('off')
#         img=plt.imshow(curr_dicom.pixel_array[lower_limit+i*fig_interval], cmap=plt.cm.bone)
#         plt.savefig(os.path.join(patient_dir, f"{lower_limit+i*fig_interval}.jpeg"), bbox_inches='tight', pad_inches=0)
#         plt.close()

In [63]:
from multiprocessing import Pool
import get_image as gi
dicom_dir = os.path.join("/Volumes", "Cem's HD", "Ecem Tez Tomografi Hastaları")

# Assuming patient_target and patient_name2id are defined and accessible here
pool_size = os.cpu_count()

with Pool(pool_size) as pool:
    pool.starmap(gi.process_patient, [(patient_id, patient_name2id, patient_target, dicom_dir) for patient_id in patient_target["patient_id"].unique()])